
.container {
    width: 1280px;
    margin: 0 auto;

}
.logo{
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    padding-bottom: 20px;
    padding-top: 30px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;

}
.logo-link {
    text-decoration: none;
    color: black;
}
.colored-letters {
    color: deepskyblue;
}

.nav-list{
    display: flex;
    justify-content: center;
    background-color: #35444F;
}
.menu-item{
    padding: 15px 45px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.menu-item:hover {
    background: #222F3A;
}
.menu-item-link{
    text-decoration: none;
    color: #FFFFFF;

}
.main-content{
    display: flex;
    margin-top: 50px;

}

.main-content section{
    width: 885px;
}
section .container-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 885px;
    height: 520px;
    box-sizing: border-box;
    border: 1px solid #000000;
}

section .container-pic img{
    width: 300px;
    height: 380px;
}

img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.aside-menu {
    height: 335px;
    width: 344px;
}
.main-content .aside-menu {
    margin-right: 53px;
}

.aside-link{
text-decoration: none;
color: #495863;
list-style:none;
}


.aside-menu{
    border: 1px solid #000000;
    list-style: none;
    font-size: 27px;
    line-height: 27px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.aside-item{
    padding-left: 44px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.aside-item:hover {
    background-color: #DBDBDB;
    padding-left: 50px;
}

section .text{
    margin-top: 35px;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
}

.footer-container{
    height: 69px;
    width: 1280px;
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
    margin-bottom: 30px;
    align-items: center;
}


.footer-menu {
    display: flex;
    justify-content: left;
    background-color: lightgrey;

}


.footer-item, .copyright-container{
    text-decoration: none;
    padding: 15px 25px;
    font-size: 26px;
    font-weight: 400;
    line-height: 28px;
    list-style: none;
    background-color: lightgrey;
    font-family: 'Roboto', sans-serif;


}

.footer-item:hover{
    color: deepskyblue;
    text-decoration: underline;
}

