body{
    width: 1280px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.menu-list{
    text-align: center;

}
.menu-item {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 35px;
    color: #FF0000;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #FF0000;

}
main{
    text-align: center;

}
.image-card{
    position: relative;
    width: 100%;
    max-width: 1280px;
    height: 789px

}
.subtitle{
    padding: 48px 253px 20px 253px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 22px;
    line-height: 27px;
    font-weight: 700;
    color: #373737;
    letter-spacing: 3.3px;
}

.text-1{
    position: relative;
    padding: 20px 68px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
}

.text-2{
    position: relative;
    padding: 10px 68px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
}
.button {
    position: relative;
    padding: 66px 545px 42px 545px;
}
.button-red {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    display: block;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #FF0000;
    border-radius: 4px;
    width: 191px;
    height: 51px;
    left: 544.5px;
    top: 557px;
    padding: 18px 42px;
}
.copyright{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    padding: 82px 105px 29px 713px;
    text-align: right;
    color: #373737
}